{% extends 'layout/base.html' %}
{% load static i18n my_tags %}

{% block title %}{% trans 'Blog Listing - Molla Sport Store' %}{% endblock %}

{% block content %}
    <main class="main">
        	<div class="page-header text-center" style="background-image: url('{% static 'assets/images/page-header-bg.jpg' %}')">
        		<div class="container">
        			<h1 class="page-title">{% trans 'Blog Listing' %}<span>{% trans 'Blog' %}</span></h1>
        		</div>
            </div><nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">{% trans 'Home' %}</a></li>
                        <li class="breadcrumb-item"><a href="#">{% trans 'Blog' %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% trans 'Listing' %}</li>
                    </ol>
                </div></nav><div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
                            <article class="entry entry-list">
                                <div class="row align-items-center">
                                    <div class="col-md-5">
                                        <figure class="entry-media">
                                            <a href="single.html">
                                                <img src="{% static 'images/blog/listing/post-1.jpg' %}" alt="{% trans 'image desc' %}">
                                            </a>
                                        </figure></div><div class="col-md-7">
                                        <div class="entry-body">
                                            <div class="entry-meta">
                                                <span class="entry-author">
                                                    {% trans 'by' %} <a href="#">{% trans 'John Doe' %}</a>
                                                </span>
                                                <span class="meta-separator">|</span>
                                                <a href="#">{% trans 'Nov 22, 2018' %}</a>
                                                <span class="meta-separator">|</span>
                                                <a href="#">2 {% trans 'Comments' %}</a>
                                            </div><h2 class="entry-title">
                                                <a href="single.html">{% trans 'Cras ornare tristique elit.' %}</a>
                                            </h2><div class="entry-cats">
                                                {% trans 'in' %} <a href="#">{% trans 'Lifestyle' %}</a>,
                                                <a href="#">{% trans 'Shopping' %}</a>
                                            </div><div class="entry-content">
                                                <p>{% trans 'Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Suspendisse potenti. Sed egestas ...' %} </p>
                                                <a href="single.html" class="read-more">{% trans 'Continue Reading' %}</a>
                                            </div></div></div></div></article><article class="entry entry-list">
                                <div class="row align-items-center">
                                    <div class="col-md-5">
                                        <figure class="entry-media entry-video">
                                            <a href="single.html">
                                                <img src="{% static 'images/blog/listing/post-2.jpg' %}" alt="{% trans 'image desc' %}">
                                            </a>
                                        </figure></div><div class="col-md-7">
                                        <div class="entry-body">
                                            <div class="entry-meta">
                                                <span class="entry-author">
                                                    {% trans 'by' %} <a href="#">{% trans 'John Doe' %}</a>
                                                </span>
                                                <span class="meta-separator">|</span>
                                                <a href="#">{% trans 'Nov 20, 2018' %}</a>
                                                <span class="meta-separator">|</span>
                                                <a href="#">3 {% trans 'Comments' %}</a>
                                            </div><h2 class="entry-title">
                                                <a href="single.html">{% trans 'Facilisis aliquam porttitor mauris sit amet orci.' %}</a>
                                            </h2><div class="entry-cats">
                                                {% trans 'in' %} <a href="#">{% trans 'Lifestyle' %}</a>
                                            </div><div class="entry-content">
                                                <p>{% trans 'Morbi purus libero, faucibus commodo quis, gravida id, est. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui ...' %} </p>
                                                <a href="single.html" class="read-more">{% trans 'Continue Reading' %}</a>
                                            </div></div></div></div></article><article class="entry entry-list">
                                <div class="row align-items-center">
                                    <div class="col-md-5">
                                        <figure class="entry-media">
                                            <div class="owl-carousel owl-simple owl-light owl-nav-inside" data-toggle="owl">
                                                <a href="single.html">
                                                    <img src="{% static 'images/blog/listing/post-3.jpg' %}" alt="{% trans 'image desc' %}">
                                                </a>
                                                <a href="single.html">
                                                    <img src="{% static 'images/blog/listing/post-1.jpg' %}" alt="{% trans 'image desc' %}">
                                                </a>
                                            </div></figure></div><div class="col-md-7">
                                        <div class="entry-body">
                                            <div class="entry-meta">
                                                <span class="entry-author">
                                                    {% trans 'by' %} <a href="#">{% trans 'John Doe' %}</a>
                                                </span>
                                                <span class="meta-separator">|</span>
                                                <a href="#">{% trans 'Nov 17, 2018' %}</a>
                                                <span class="meta-separator">|</span>
                                                <a href="#">0 {% trans 'Comments' %}</a>
                                            </div><h2 class="entry-title">
                                                <a href="single.html">{% trans 'Utaliquam sollicitudin leo.' %}</a>
                                            </h2><div class="entry-cats">
                                                {% trans 'in' %} <a href="#">{% trans 'Lifestyle' %}</a>,
                                                <a href="#">{% trans 'Shopping' %}</a>
                                            </div><div class="entry-content">
                                                <p>{% trans 'Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Suspendisse potenti. Sed egestas ...' %} </p>
                                                <a href="single.html" class="read-more">{% trans 'Continue Reading' %}</a>
                                            </div></div></div></div></article><article class="entry entry-list">
                                <div class="row align-items-center">
                                    <div class="col-md-5">
                                        <figure class="entry-media">
                                            <a href="single.html">
                                                <img src="{% static 'images/blog/listing/post-4.jpg' %}" alt="{% trans 'image desc' %}">
                                            </a>
                                        </figure></div><div class="col-md-7">
                                        <div class="entry-body">
                                            <div class="entry-meta">
                                                <span class="entry-author">
                                                    {% trans 'by' %} <a href="#">{% trans 'Jane Doe' %}</a>
                                                </span>
                                                <span class="meta-separator">|</span>
                                                <a href="#">{% trans 'Nov 12, 2018' %}</a>
                                                <span class="meta-separator">|</span>
                                                <a href="#">4 {% trans 'Comments' %}</a>
                                            </div><h2 class="entry-title">
                                                <a href="single.html">{% trans 'Fusce pellentesque suscipit.' %}</a>
                                            </h2><div class="entry-cats">
                                                {% trans 'in' %} <a href="#">{% trans 'Travel' %}</a>
                                            </div><div class="entry-content">
                                                <p>{% trans 'Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat eget felis ...' %} </p>
                                                <a href="single.html" class="read-more">{% trans 'Continue Reading' %}</a>
                                            </div></div></div></div></article><article class="entry entry-list">
                                <div class="row align-items-center">
                                    <div class="col-md-5">
                                        <figure class="entry-media">
                                            <a href="single.html">
                                                <img src="{% static 'images/blog/listing/post-5.jpg' %}" alt="{% trans 'image desc' %}">
                                            </a>
                                        </figure></div><div class="col-md-7">
                                        <div class="entry-body">
                                            <div class="entry-meta">
                                                <span class="entry-author">
                                                    {% trans 'by' %} <a href="#">{% trans 'John Doe' %}</a>
                                                </span>
                                                <span class="meta-separator">|</span>
                                                <a href="#">{% trans 'Nov 11, 2018' %}</a>
                                                <span class="meta-separator">|</span>
                                                <a href="#">0 {% trans 'Comments' %}</a>
                                            </div><h2 class="entry-title">
                                                <a href="single.html">{% trans 'Donec nec justo eget felis facilisis fermentum.' %}</a>
                                            </h2><div class="entry-cats">
                                                {% trans 'in' %} <a href="#">{% trans 'Hobbies' %}</a>
                                            </div><div class="entry-content">
                                                <p>{% trans 'Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. Phasellus ultrices nulla quis nibh. Quisque lectus. Donec consectetuer ligula vulputate sem ...' %}</p>
                                                <a href="single.html" class="read-more">{% trans 'Continue Reading' %}</a>
                                            </div></div></div></div></article><article class="entry entry-list">
                                <div class="row align-items-center">
                                    <div class="col-md-5">
                                        <figure class="entry-media">
                                            <a href="single.html">
                                                <img src="{% static 'images/blog/listing/post-6.jpg' %}" alt="{% trans 'image desc' %}">
                                            </a>
                                        </figure></div><div class="col-md-7">
                                        <div class="entry-body">
                                            <div class="entry-meta">
                                                <span class="entry-author">
                                                    {% trans 'by' %} <a href="#">{% trans 'Hans Doe' %}</a>
                                                </span>
                                                <span class="meta-separator">|</span>
                                                <a href="#">{% trans 'Nov 10, 2018' %}</a>
                                                <span class="meta-separator">|</span>
                                                <a href="#">0 {% trans 'Comments' %}</a>
                                            </div><h2 class="entry-title">
                                                <a href="single.html">{% trans 'Quisque volutpat mattiseros.' %}</a>
                                            </h2><div class="entry-cats">
                                                {% trans 'in' %} <a href="#">{% trans 'Travel' %}</a>,
                                                <a href="#">{% trans 'Hobbies' %}</a>
                                            </div><div class="entry-content">
                                                <p>{% trans 'Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. Phasellus ultrices nulla quis nibh. Quisque lectus. Donec consectetuer ...' %}</p>
                                                <a href="single.html" class="read-more">{% trans 'Continue Reading' %}</a>
                                            </div></div></div></div></article><nav aria-label="Page navigation">
							    <ul class="pagination">
							        <li class="page-item disabled">
							            <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
							                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>{% trans 'Prev' %}
							            </a>
							        </li>
							        <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
							        <li class="page-item"><a class="page-link" href="#">2</a></li>
							        <li class="page-item">
							            <a class="page-link page-link-next" href="#" aria-label="Next">
							                {% trans 'Next' %} <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
							            </a>
							        </li>
							    </ul>
							</nav>
                		</div><aside class="col-lg-3">
                			<div class="sidebar">
                				<div class="widget widget-search">
                                    <h3 class="widget-title">{% trans 'Search' %}</h3><form action="#">
                                        <label for="ws" class="sr-only">{% trans 'Search in blog' %}</label>
                                        <input type="search" class="form-control" name="ws" id="ws" placeholder="{% trans 'Search in blog' %}" required>
                                        <button type="submit" class="btn"><i class="icon-search"></i><span class="sr-only">{% trans 'Search' %}</span></button>
                                    </form>
                				</div><div class="widget widget-cats">
                                    <h3 class="widget-title">{% trans 'Categories' %}</h3><ul>
                                        <li><a href="#">{% trans 'Lifestyle' %}<span>3</span></a></li>
                                        <li><a href="#">{% trans 'Shopping' %}<span>3</span></a></li>
                                        <li><a href="#">{% trans 'Fashion' %}<span>1</span></a></li>
                                        <li><a href="#">{% trans 'Travel' %}<span>3</span></a></li>
                                        <li><a href="#">{% trans 'Hobbies' %}<span>2</span></a></li>
                                    </ul>
                                </div><div class="widget">
                                    <h3 class="widget-title">{% trans 'Popular Posts' %}</h3><ul class="posts-list">
                                        <li>
                                            <figure>
                                                <a href="#">
                                                    <img src="{% static 'images/blog/sidebar/post-1.jpg' %}" alt="{% trans 'post' %}">
                                                </a>
                                            </figure>

                                            <div>
                                                <span>{% trans 'Nov 22, 2018' %}</span>
                                                <h4><a href="#">{% trans 'Aliquam tincidunt mauris eurisus.' %}</a></h4>
                                            </div>
                                        </li>
                                        <li>
                                            <figure>
                                                <a href="#">
                                                    <img src="{% static 'images/blog/sidebar/post-2.jpg' %}" alt="{% trans 'post' %}">
                                                </a>
                                            </figure>

                                            <div>
                                                <span>{% trans 'Nov 19, 2018' %}</span>
                                                <h4><a href="#">{% trans 'Cras ornare tristique elit.' %}</a></h4>
                                            </div>
                                        </li>
                                        <li>
                                            <figure>
                                                <a href="#">
                                                    <img src="{% static 'images/blog/sidebar/post-3.jpg' %}" alt="{% trans 'post' %}">
                                                </a>
                                            </figure>

                                            <div>
                                                <span>{% trans 'Nov 12, 2018' %}</span>
                                                <h4><a href="#">{% trans 'Vivamus vestibulum ntulla nec ante.' %}</a></h4>
                                            </div>
                                        </li>
                                        <li>
                                            <figure>
                                                <a href="#">
                                                    <img src="{% static 'images/blog/sidebar/post-4.jpg' %}" alt="{% trans 'post' %}">
                                                </a>
                                            </figure>

                                            <div>
                                                <span>{% trans 'Nov 25, 2018' %}</span>
                                                <h4><a href="#">{% trans 'Donec quis dui at dolor tempor interdum.' %}</a></h4>
                                            </div>
                                        </li>
                                    </ul></div><div class="widget widget-banner-sidebar">
                                    <div class="banner-sidebar-title">{% trans 'ad box 280 x 280' %}</div><div class="banner-sidebar banner-overlay">
                                        <a href="#">
                                            <img src="{% static 'images/blog/sidebar/banner.jpg' %}" alt="{% trans 'banner' %}">
                                        </a>
                                    </div></div><div class="widget">
                                    <h3 class="widget-title">{% trans 'Browse Tags' %}</h3><div class="tagcloud">
                                        <a href="#">{% trans 'fashion' %}</a>
                                        <a href="#">{% trans 'style' %}</a>
                                        <a href="#">{% trans 'women' %}</a>
                                        <a href="#">{% trans 'photography' %}</a>
                                        <a href="#">{% trans 'travel' %}</a>
                                        <a href="#">{% trans 'shopping' %}</a>
                                        <a href="#">{% trans 'hobbies' %}</a>
                                    </div></div><div class="widget widget-text">
                                    <h3 class="widget-title">{% trans 'About Blog' %}</h3><div class="widget-text-content">
                                        <p>{% trans 'Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, pulvinar nunc sapien ornare nisl.' %}</p>
                                    </div></div></div></aside></div></div></div>
    </main>
{% endblock %}