{% extends 'layout/base.html' %}
{% load static %}

{% block title %}{{ blog.title }} - Molla Sport Store{% endblock %}

{% block nav_blog %}active{% endblock %}

{% block content %}
<main class="main">
    <div class="page-header text-center" style="background-image: url('{% static 'images/page-header-bg.jpg' %}')">
        <div class="container">
            <h1 class="page-title">{{ blog.title }}<span>Single Post</span></h1>
        </div>
    </div>

    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'shared:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'blogs:list' %}">Blog</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ blog.title }}</li>
            </ol>
        </div>
    </nav>

    <div class="page-content">
        <div class="container">
            <div class="row">
                <!-- Main Article -->
                <div class="col-lg-9">
                    <article class="entry single-entry">
                        {% if blog.image %}
                        <figure class="entry-media">
                            <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
                        </figure>
                        {% endif %}

                        <div class="entry-body">
                            <div class="entry-meta">
                                {% for author in blog.authors.all %}
                                <span class="entry-author">by <a href="#">{{ author.full_name }}</a></span>
                                <span class="meta-separator">|</span>
                                {% endfor %}
                                <a href="#">{{ blog.created_at|date:"M d, Y" }}</a>
                                {% if blog.categories.exists %}
                                <span class="meta-separator">|</span>
                                {% for cat in blog.categories.all %}
                                    <a href="{% url 'blogs:list' %}?category={{ cat.pk }}">{{ cat.title }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                {% endif %}
                            </div>

                            <h2 class="entry-title">{{ blog.title }}</h2>

                            {% if blog.tags.exists %}
                            <div class="entry-cats">
                                in
                                {% for tag in blog.tags.all %}
                                    <a href="{% url 'blogs:list' %}?tag={{ tag.pk }}">{{ tag.title }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}

                            <div class="entry-content editor-content">
                                {{ blog.long_description|safe }}
                            </div>

                            <!-- Footer: tags + share -->
                            <div class="entry-footer row no-gutters flex-column flex-md-row">
                                {% if blog.tags.exists %}
                                <div class="col-md">
                                    <div class="entry-tags">
                                        <span>Tags:</span>
                                        {% for tag in blog.tags.all %}
                                            <a href="{% url 'blogs:list' %}?tag={{ tag.pk }}">{{ tag.title }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                                <div class="col-md-auto mt-2 mt-md-0">
                                    <div class="social-icons social-icons-color">
                                        <span class="social-label">Share this post:</span>
                                        <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                        <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                        <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                        <a href="#" class="social-icon social-linkedin" title="Linkedin" target="_blank"><i class="icon-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End .entry-body -->

                        <!-- Author box -->
                        {% for author in blog.authors.all %}
                        <div class="entry-author-details">
                            <figure class="author-media">
                                <a href="#">
                                    {% if author.image %}
                                        <img src="{{ author.image.url }}" alt="{{ author.full_name }}">
                                    {% else %}
                                        <img src="{% static 'images/blog/single/author.jpg' %}" alt="{{ author.full_name }}">
                                    {% endif %}
                                </a>
                            </figure>
                            <div class="author-body">
                                <div class="author-header row no-gutters flex-column flex-md-row">
                                    <div class="col">
                                        <h4><a href="#">{{ author.full_name }}</a></h4>
                                    </div>
                                    {% if author.professions %}
                                    <div class="col-auto mt-1 mt-md-0">
                                        <span class="author-link">{{ author.professions }}</span>
                                    </div>
                                    {% endif %}
                                </div>
                                {% if author.about %}
                                <div class="author-content">
                                    <p>{{ author.about }}</p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </article>

                    <!-- Prev / Next navigation -->
                    <nav class="pager-nav" aria-label="Page navigation">
                        {% if blog.get_previous_by_created_at %}
                        <a class="pager-link pager-link-prev" href="{% url 'blogs:detail' blog.get_previous_by_created_at.pk %}" aria-label="Previous">
                            Previous Post
                            <span class="pager-link-title">{{ blog.get_previous_by_created_at.title }}</span>
                        </a>
                        {% endif %}
                        {% if blog.get_next_by_created_at %}
                        <a class="pager-link pager-link-next" href="{% url 'blogs:detail' blog.get_next_by_created_at.pk %}" aria-label="Next">
                            Next Post
                            <span class="pager-link-title">{{ blog.get_next_by_created_at.title }}</span>
                        </a>
                        {% endif %}
                    </nav>

                    <!-- Related Posts -->
                    {% if recent_posts %}
                    <div class="related-posts">
                        <h3 class="title">Related Posts</h3>
                        <div class="owl-carousel owl-simple" data-toggle="owl"
                            data-owl-options='{
                                "nav": false,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {"items":1},
                                    "480": {"items":2},
                                    "768": {"items":3}
                                }
                            }'>
                            {% for post in recent_posts %}
                            <article class="entry entry-grid">
                                {% if post.image %}
                                <figure class="entry-media">
                                    <a href="{% url 'blogs:detail' post.pk %}">
                                        <img src="{{ post.image.url }}" alt="{{ post.title }}">
                                    </a>
                                </figure>
                                {% endif %}
                                <div class="entry-body">
                                    <div class="entry-meta">
                                        <a href="#">{{ post.created_at|date:"M d, Y" }}</a>
                                    </div>
                                    <h2 class="entry-title">
                                        <a href="{% url 'blogs:detail' post.pk %}">{{ post.title }}</a>
                                    </h2>
                                    {% if post.categories.exists %}
                                    <div class="entry-cats">
                                        in
                                        {% for cat in post.categories.all %}
                                            <a href="{% url 'blogs:list' %}?category={{ cat.pk }}">{{ cat.title }}</a>{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    <!-- Leave a Reply -->
                    <div class="reply">
                        <div class="heading">
                            <h3 class="title">Leave A Reply</h3>
                            <p class="title-desc">Your email address will not be published. Required fields are marked *</p>
                        </div>
                        <form action="" method="post">
                            {% csrf_token %}
                            <label for="reply-message" class="sr-only">Comment</label>
                            <textarea name="comment" id="reply-message" cols="30" rows="4" class="form-control" required placeholder="Comment *"></textarea>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="reply-name" class="sr-only">Name</label>
                                    <input type="text" class="form-control" id="reply-name" name="name" required placeholder="Name *">
                                </div>
                                <div class="col-md-6">
                                    <label for="reply-email" class="sr-only">Email</label>
                                    <input type="email" class="form-control" id="reply-email" name="email" required placeholder="Email *">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-outline-primary-2">
                                <span>POST COMMENT</span>
                                <i class="icon-long-arrow-right"></i>
                            </button>
                        </form>
                    </div>
                </div><!-- End .col-lg-9 -->

                <!-- Sidebar -->
                <aside class="col-lg-3">
                    <div class="sidebar">
                        <!-- Search -->
                        <div class="widget widget-search">
                            <h3 class="widget-title">Search</h3>
                            <form action="{% url 'blogs:list' %}" method="get">
                                <label for="ws" class="sr-only">Search in blog</label>
                                <input type="search" class="form-control" name="q" id="ws"
                                       placeholder="Search in blog" required>
                                <button type="submit" class="btn">
                                    <i class="icon-search"></i><span class="sr-only">Search</span>
                                </button>
                            </form>
                        </div>

                        <!-- Categories -->
                        <div class="widget widget-cats">
                            <h3 class="widget-title">Categories</h3>
                            <ul>
                                {% for cat in blog_categories %}
                                <li>
                                    <a href="{% url 'blogs:list' %}?category={{ cat.pk }}">
                                        {{ cat.title }}<span>{{ cat.blog_set.count }}</span>
                                    </a>
                                </li>
                                {% empty %}
                                <li><a href="{% url 'blogs:list' %}">All Posts</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                        <!-- Popular Posts -->
                        <div class="widget">
                            <h3 class="widget-title">Popular Posts</h3>
                            <ul class="posts-list">
                                {% for post in recent_posts %}
                                <li>
                                    <figure>
                                        <a href="{% url 'blogs:detail' post.pk %}">
                                            {% if post.image %}
                                                <img src="{{ post.image.url }}" alt="{{ post.title }}">
                                            {% else %}
                                                <img src="{% static 'images/blog/sidebar/post-1.jpg' %}" alt="{{ post.title }}">
                                            {% endif %}
                                        </a>
                                    </figure>
                                    <div>
                                        <span>{{ post.created_at|date:"M d, Y" }}</span>
                                        <h4><a href="{% url 'blogs:detail' post.pk %}">{{ post.title }}</a></h4>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <!-- Tags -->
                        <div class="widget">
                            <h3 class="widget-title">Browse Tags</h3>
                            <div class="tagcloud">
                                {% for tag in blog_tags %}
                                <a href="{% url 'blogs:list' %}?tag={{ tag.pk }}">{{ tag.title }}</a>
                                {% empty %}
                                <a href="#">sport</a>
                                <a href="#">outdoor</a>
                                <a href="#">gear</a>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- About -->
                        <div class="widget widget-text">
                            <h3 class="widget-title">About Blog</h3>
                            <div class="widget-text-content">
                                <p>Stay up to date with the latest news, gear reviews, and tips from the world of extreme sports.</p>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</main>
{% endblock %}